.page.theme_dark {
    --bg-color : var(--dark-bg);
    --text-color : var(--dark-main-text);
    --text-second-color : var(--dark-bg);
    --bg-second-color: var(--dark-second-text);
    --bg-secong-color-alpha: var(--dark-second-text-alpha);
    --decorative-color : var(--dark-decoration-color);
    --border : 1px solid var(--dark-second-text);
    --shadow : 4px 4px 0px var(--bg-second-color);
}