.footer {
    position: relative;
    padding: var(--padding);
    height: 100%;
    min-height: 668px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__title {
    font: var(--font-xl);
    color: var(--decorative-color);
    text-shadow: var(--shadow);
}