.header {
    height: 100vh;
    background-image: url("../images/cover-image.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    gap: 65px;

    padding: var(--padding);
}

@media (height >= 768px) {
    .header {
        gap : 174px;
    }
}


.theme_dark .header {
    background-image: url("../images/cover-image-dark.png");
}

.theme_light .header {
    background-image: url("../images/cover-image-light.png");
}

.header__theme-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 39px;
    color: var(--text-second-color);
    font: var(--font-s);
}

@media (height >= 768px) and (width < 1024px) {
    .header__theme-menu {
        gap : 148px;
    }
}

.header__rec {
    width: 70px;
    height: 26px;
    position: relative;
    font: inherit;
    color: inherit;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.header__rec::after {
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--text-second-color);
}

.theme_light .header__rec {
    visibility: hidden;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font: var(--font-s);
}

.header__theme-menu-item {
    list-style: none;
}

.header__theme-menu-button {
    font: inherit;
    color: inherit;
    width: 70px;
    height: 26px;
    text-align: center;
    background-color: transparent;
    border: none;
    text-transform: lowercase;
}

.header__theme-menu-button:hover {
    border: var(--border);
}

.header__theme-menu-button:focus {
    outline: none;
    border-bottom: var(--border);
}

.theme_light .header__theme-menu-button {
    color: var(--text-color);
}

.title__article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 55px;
}

.header__title {
    font: var(--font-xl);
    color: var(--decorative-color);
}

.header__description {
    width: clamp(355px, 50%, 500px);
    font: var(--font-s);
    font-weight: var(--fw-bold);
    background-color: var(--text-second-color);
    color: var(--bg-color);
}

@media (height >= 768px) or (width >= 768px) {
    .title__article {
        gap: 162px;
    }

    .header__title {
        align-self: flex-start;
        margin-left: -20px;
    }

    .header__description {
        align-self: flex-end;
    }
}

@media (width >= 1024px) {
    .header {
        gap : 273px;
    }

    .header__theme-menu {
        position: relative;
        justify-content: flex-start;
        flex-direction: row-reverse;
    }

    .header__theme-menu-list {
        width: 100%;
        justify-content: center;
        align-self: center;
        flex-direction: row;
    }

    .header__rec {
        position: absolute;
        right: 0;
        top: 0;
    }

    .title__article {
        gap : 115px;
    }
}

.theme_light .header__description {
    color: var(--text-color)
}