@import "page.css";
@import "header.css";
@import "section.css";
@import "footer.css";

.decorated-zone {
    position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
    content: "";
    position: absolute;
    z-index: 1;
    background: transparent;
    width: 25px;
    height: 25px;
}

.decorated-zone::before {
    right: 10px;
    top: 10px;
    border-right: var(--border);
    border-top: var(--border);
}

.decorated-zone::after {
    left: 10px;
    bottom: 10px;
    border-left: var(--border);
    border-bottom: var(--border);
}

.shadow {
    text-shadow: var(--shadow);
}

.link {
    text-shadow: 0 4px 4px var(--text-second-color);
}

.main {
    /** HOTFIX - какой то баг с picture - на 5px больше чем должен быть */
    padding: 40px 0 35px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: var(--bg-color);
}